<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}

      <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
      <link href="catalog/view/javascript/css/all.min.css" type="stylesheet">
      <link href="catalog/view/javascript/css/fontawesome.min.css" type="stylesheet">

      <!-- light owl -->
 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css"/>
      <link rel="stylesheet" href="catalog/view/javascript/css/owl.carousel.min.css" type="text/css">
      <link href="catalog/view/javascript/css/animate.css" rel="stylesheet">
   
   
      <!-- BootStrap StyleSheets -->

      <link rel="stylesheet" type="text/css" href="catalog/view/javascript/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous">
    
      <link href="catalog/view/theme/default/stylesheet/style.css" rel="stylesheet">
      <link href="catalog/view/javascript/css/media.css" rel="stylesheet">
              
       <script type="text/javascript" src="catalog/view/javascript/js/jquery.min.js"></script>
       <script type="text/javascript" src="catalog/view/javascript/js/bootstrap.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>
        <script type="text/javascript" src="catalog/view/javascript/js/fontawesome-all.min.js"></script>
       <script type="text/javascript" src="catalog/view/javascript/js/owl.carousel.min.js"></script>
       <script type="text/javascript" src="catalog/view/javascript/js/wow.min.js"></script>
       <script type="text/javascript" src="catalog/view/javascript/js/all.min.js"></script>
       <script src="https://cdn.rtlcss.com/bootstrap/v4.0.0/js/bootstrap.min.js" integrity="sha384-54+cucJ4QbVb99v8dcttx/0JRx4FHMmhOWi4W+xrXpKcsKQodCBwAvu3xxkZAwsH" crossorigin="anonymous"></script>
       <script type="text/javascript" src="catalog/view/javascript/js/main.js"></script>

{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
 <!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}

      <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
      <link href="catalog/view/javascript/css/all.min.css" type="stylesheet">
      <link href="catalog/view/javascript/css/fontawesome.min.css" type="stylesheet">

      <!-- light owl -->
 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css"/>
      <link rel="stylesheet" href="catalog/view/javascript/css/owl.carousel.min.css" type="text/css">
      <link href="catalog/view/javascript/css/animate.css" rel="stylesheet">
   
   
      <!-- BootStrap StyleSheets -->

      <link rel="stylesheet" type="text/css" href="catalog/view/javascript/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous">
    
      <link href="catalog/view/theme/default/stylesheet/style.css" rel="stylesheet">
      <link href="catalog/view/javascript/css/media.css" rel="stylesheet">
              
       <script type="text/javascript" src="catalog/view/javascript/js/jquery.min.js"></script>
       <script type="text/javascript" src="catalog/view/javascript/js/bootstrap.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>
        <script type="text/javascript" src="catalog/view/javascript/js/fontawesome-all.min.js"></script>
       <script type="text/javascript" src="catalog/view/javascript/js/owl.carousel.min.js"></script>
       <script type="text/javascript" src="catalog/view/javascript/js/wow.min.js"></script>
       <script type="text/javascript" src="catalog/view/javascript/js/all.min.js"></script>
       <script src="https://cdn.rtlcss.com/bootstrap/v4.0.0/js/bootstrap.min.js" integrity="sha384-54+cucJ4QbVb99v8dcttx/0JRx4FHMmhOWi4W+xrXpKcsKQodCBwAvu3xxkZAwsH" crossorigin="anonymous"></script>
       <script type="text/javascript" src="catalog/view/javascript/js/main.js"></script>

{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
 
     <header class="header fixed" id="up" >
        <div class="container">
            <div class="row">
                     <nav class="navbar navbar-expand-lg navbar-light ">
                       <div class="mobile">
                        <div class="nav-toggle">
                            <i class="fas fa-bars"></i>
                            <i class="fas fa-times"></i>
                     </div>

                     <div class="col-sm-12 d-lg-none d-md-block">
                                        
                        <ul  class="">
                        <div class="account">
                          <a href="#">
                            <i class="fas fa-user-circle"></i>
                            حسابي 
              
                          </a>
                        </div>
                        <div class="option">
                           <a href="#"> <i class="far fa-heart"></i> </a>
                           <a href="cart.html"> <i class="fas fa-shopping-cart"></i> </a>
                          <a href="#"> <span> EN</span> </a>
                        </div>
                          <a class="navbar-brand " href="index.html"> <img class=" logo">logo</a>
     <!--  <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}</div> -->                     
                          </ul>
                        
                   
                      </div>
                    </div>
                      <div class="col-lg-8 col-xl-9">
                      <div   class="mysidenav" id="mysidenav">
                                 
                                        <ul class="navbar-nav">
                                            <li class="nav-item active ">
                                              <a class="nav-link  scroll" href="index.html">الرئيسيه </a>
                                            </li>
                                            <li class="nav-item">
                                              <a class="nav-link scroll" href="#">البحث</a>
                                            </li>
                                            <li class="nav-item">
                                              <a class="nav-link scroll" href="#">احسن العروض </a>
                                            </li>
                                            <li class="nav-item">
                                              <a class="nav-link scroll" href="#">من نحن </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link scroll" href="#">اتصل بنا</a>
                                            </li>
                                        
                                          </ul>
                                   
                                    </div>
                      </div>
               
                            <div class="col-lg-4 d-none d-lg-block">
                                        
                                <ul  class="navbar-nav">
                                <div class="account">
                                 
                                
                                 
       <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown">    <i class="fas fa-user-circle"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span> <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            {% if logged %}
            <li><a href="{{ account }}">{{ text_account }}</a></li>
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
            <li><a href="{{ download }}">{{ text_download }}</a></li>
            <li><a href="{{ logout }}">{{ text_logout }}</a></li>
            {% else %}
            <li><a href="{{ register }}">{{ text_register }}</a></li>
            <li><a href="{{ login }}">{{ text_login }}</a></li>
            {% endif %}
          </ul>
       
                      
                                
                                </div>
                                <div class="option">
                                    <a href="#"> <a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="far fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md"></span></a> </a>
                   
                                   <a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fas fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md"></span></a>                        
                                   <a href="#"> <span> EN</span> </a>
                                </div>
                                  <a class="navbar-brand " href="index.html"> <img class=" logo">logo</a>
                                  </ul>
                                
                           
                              </div>
                            
                            </nav>
                          </div>
                        </div>
                   
            </header>

<section id="cover">
    <div class="container">
        <div class="row">
         
        <div class="rightSide col-md-7">
            <div class=" wow animate fadeInRight" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInRight;">
            <h1> مجموعه خريف 2019</h1>
           <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من </p>
        
              {{ search }}
          </div>
            </div>
          
          
           
            <div class="leftSide col-md-5">
                <div class="wow animate fadeInLeft" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInLeft;">
                <img class="imgCover" src="catalog/view/theme/default/images/Layer 2.png">
              </div>
              </div>
        </div>
    </div>
</section>



{{ menu }}

