{% if categories %}

<section id="contect">
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="categories">
        <h3> الفئات</h3>
        <ul>
      <a href="#" class="collapsed-btn" data-toggle="collapse" data-target="#demo"> <li> اكسسوارات </li>  <span ><i class="fas fa-angle-left"></i></span></a>
      <div class="collapse" id="demo">
        <ul class="sub">
          <a href="#"> <li> خواتم </li> </a> 
          <a href="#"> <li> خواتم </li> </a> 
          <a href="#"> <li> خواتم </li> </a> 
          <a href="#"> <li> خواتم </li> </a> 
          <a href="#"> <li> خواتم </li> </a> 
         
        </ul>
        </div>
        <li> <a href="#"> اكسسوارات   <span><i class="fas fa-angle-left"></i></span></a>
        </li>
        <li> <a href="#"> اكسسوارات   <span><i class="fas fa-angle-left"></i></span></a>
        </li>
        <li> <a href="#"> اكسسوارات   <span><i class="fas fa-angle-left"></i></span></a>
        </li>
     <li> <a href="#"> اكسسوارات   <span><i class="fas fa-angle-left"></i></span></a>
        </li>
        
      </ul>
<h3> السعر</h3>
<form method="post" action="/action_page_post.php">
  <input type="text" class="js-range-slider" name="my_range" value="" />
 </form>
      </div>
    </div>
    </div>
    <div>
    </section>






<div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {% for category in categories %}
        {% if category.children %}
        <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}</div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
{% endif %} 