   <form id="search" class="from-group">
              <input  type="text" name="search" value="{{ search }}" class="form-control" placeholder="ابحث الان عن المنتجات">
             <button type="button" class="btn" > <i class="fas fa-search"></i> </button> 
        
     </form>