@font-face {
  font-family: 'JFont';
  src: url("fonts/JF-Flat-regular.ttf");
  src: url("fonts/JF-Flat-regular.ttf") format("woff"), url("fonts/JF-Flat-regular.ttf") format("truetype"), url("fonts/JF-Flat-regular.svg#JF-Flat-regular") format("svg");
}

* {
  font-family: 'JFont';
  font-style: normal;
  font-weight: 200;
  src: local("Oswald ExtraLight"), local("Oswald-ExtraLight"), url(https://fonts.gstatic.com/s/oswald/v16/TK3hWkUHHAIjg75-1h4Tvs9CE5Q.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  direction: rtl;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

.btn-success {
  background: #000 !important;
  border-color: #000 !important;
}

.collapse:not(.show) {
  display: none;
}

.nav-toggle {
  display: none;
}

/***********Header******/
#up {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar {
  padding: 0;
  width: 100%;
}

.navbar .nav-item {
  padding: 10px;
}

.navbar a.nav-link.scroll, .navbar a.nav-link.scroll:hover, .navbar .nav-item .active a {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  color: #fff !important;
}

.navbar a.nav-link.scroll:after {
  content: '';
  position: absolute;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  height: 1px;
  background: #fff;
  bottom: 0px;
  width: 0px;
  right: 10px;
}

.navbar .navbar-nav > .active > a:after,
.navbar .navbar-nav > li > a:hover:after,
.navbar .navbar-nav > a:hover:after,
.navbar .navbar-nav > .active > a:focus:after {
  width: 40px;
}

.navbar a.navbar-brand {
  color: #90aff0;
}

.fixed {
  width: 100%;
}

.fixed.scrolled {
  background-color: #fff !important;
  -webkit-transition: background-color 200ms linear !important;
  transition: background-color 200ms linear !important;
  width: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.fixed.scrolled a.nav-link.scroll:after {
  background: #90aff0 !important;
}

.fixed.scrolled a.nav-link.scroll {
  color: #90aff0 !important;
}

.account a {
  margin-left: 15px;
  padding-right: 15px;
  color: #90aff0;
}

.account, .option {
  line-height: 40px;
}

.option {
  color: #90aff0;
}

.option a {
  margin-left: 15px;
}

#cover {
  color: #fff;
  overflow: hidden;
}

#cover h1 {
  font-size: 45px;
  color: #fff;
  z-index: 3;
}

#cover p {
  font-size: 16px;
  font-weight: 100;
}

#cover {
  position: relative;
  padding: 100px 0;
}

#cover::before {
  position: absolute;
  content: '';
  background: #90aff0;
  width: 65%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
}

#cover::after {
  position: absolute;
  content: '';
  background: #fff;
  width: 35%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#cover .leftSide {
  position: relative;
}

#cover img {
  position: absolute;
  top: 50px;
  left: -77px;
  height: 400px;
  width: auto;
  bottom: 0;
}

#cover form {
  padding: 40px 0;
  position: relative;
}

#cover form input .form-control {
  display: inline;
  width: 80%;
}

#cover form button {
  position: absolute;
  left: 0;
  display: inline-block;
  bottom: 40px;
  color: #767676;
  width: 10%;
}

#cover .rightSide {
  padding: 60px 0 22px 100px;
}

/***********************categories***********/
#contect {
  background: #f8f8f8;
  padding: 40px 0;
  overflow: hidden;
}

.categories {
  background-color: #fff !important;
  -webkit-transition: background-color 200ms linear !important;
  transition: background-color 200ms linear !important;
  width: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  padding: 30px;
  margin-bottom: 40px;
}

.categories h3 {
  border-bottom: 1px solid #90aff0;
  padding-bottom: 15px;
  color: #90aff0;
}

.categories a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  color: #767676;
  font-size: 18px;
  font-weight: lighter;
}

.categories li {
  display: inline;
  border-radius: 5px;
}

.categories li :hover {
  -webkit-box-shadow: 0 0 12px 5px #eae4e4;
          box-shadow: 0 0 12px 5px #eae4e4;
}

.categories ul {
  margin-bottom: 20px !important;
}

.categories ul .sub a {
  font-size: 14px;
  color: #767676;
  padding: 10px;
}

.irs--flat .irs-bar, .irs--flat .irs-handle > i:first-child, .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
  background: #90aff0;
}

.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
  border-top-color: #90aff0;
}

.irs--flat .irs-line, .irs--flat .irs-bar {
  height: 5px;
}

.irs--flat .irs-handle {
  height: 11px;
}

.irs--flat {
  margin: 40px 0 20px;
}

/**********************categories************/
.cards .card {
  padding: 15px;
  -webkit-box-shadow: 0 0 12px 5px #eae4e4;
          box-shadow: 0 0 12px 5px #eae4e4;
  border: none;
}

.cards .card .product {
  text-align: center;
}

.cards .card .product h3 {
  font-size: 18px !important;
  color: #767676;
}

.cards .card .product small {
  color: #90aff0;
  font-size: 20px;
}

.cards .card img {
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}

.cards .card img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cards .cart {
  font-size: 18px;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  background: #fff;
  -webkit-box-shadow: 0 0 12px 5px #eae4e4;
          box-shadow: 0 0 12px 5px #eae4e4;
  border-radius: 5px;
  margin: 5px 0;
  margin-bottom: 15px;
}

.cards .cart .heart {
  float: left;
  height: 50px;
  width: 50px;
  background: #90aff0;
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 5px 0 0 5px;
  font-size: 30px;
}

.cards .cart .heart:hover {
  color: #fff;
}

.owl-carousel {
  direction: rtl;
}

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline;
  float: left;
  margin: 10px 0;
}

.owl-theme .owl-dots {
  display: inline-block !important;
}

.adv img {
  margin: 60px 0;
  -webkit-box-shadow: 0 0 12px 5px #eae4e4;
          box-shadow: 0 0 12px 5px #eae4e4;
  border-radius: 10px;
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}

.offer img {
  position: relative;
}

.popupOffer {
  position: absolute;
  width: 89.3%;
  height: 100%;
  background: #ffffffb8;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  text-align: center;
  padding: 60px 0;
  opacity: 0;
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}

.popupOffer h3 {
  color: #90aff0;
  margin: 20px 0;
}

.popupOffer a {
  background: #90aff0;
  border-radius: 30px;
  padding: 7px 25px;
  margin: 22px 0;
  color: #fff;
  -webkit-box-shadow: 0 0 13px 4px #eee;
          box-shadow: 0 0 13px 4px #eee;
}

.offer:hover .popupOffer {
  opacity: 1;
}

footer .footerCover {
  padding: 40px 0;
  background: #E8E8E8;
  color: #767676;
}

footer h4 {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 3px solid #90aff0;
  color: #90aff0;
  width: 30%;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

footer li {
  line-height: 30px;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 !important;
}

footer .social li {
  margin-left: 15px;
}

footer .social li:nth-child(1) a {
  color: #fff;
}

footer .social li:nth-child(2) a {
  color: #2cb742;
}

footer .social li:nth-child(3) a {
  color: blue;
}

footer a {
  color: #767676;
}

footer a:hover {
  color: #90aff0;
}

footer .copyright {
  text-align: center;
  background: #DFDFDF;
  color: #767676;
  padding: 20px 0;
}

footer .copyright p {
  margin: 0 !important;
}

#tableContent {
  padding: 100px 0;
}

#tableContent .tableB {
  padding-left: 20px;
  border-width: 0 0 0px 1px;
  border-style: solid;
  border-color: #dee2e6;
}

#tableContent .pro {
  text-align: center;
}

#tableContent .proDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#tableContent .proDetails img {
  background: #eee;
  height: 150px;
  width: 115px;
}

#tableContent h3 {
  font-size: 18px;
}

#tableContent tr th {
  border-bottom: none;
}

#tableContent .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

#tableContent .details {
  margin: 0 30px;
}

#tableContent .circleBorder {
  border: 1px solid;
  border-radius: 50%;
  height: 26px;
  width: 24px;
  line-height: 25px;
  text-align: center;
  margin: 0 30px;
  color: #fdd764;
}

#tableContent .shownumber {
  margin: 0 20px;
}

#tableContent .plus, #tableContent .sub {
  color: #90aff0;
  font-weight: bold;
}

#tableContent .edit {
  background: #90aff0;
  text-align: center;
  padding: 6px 10px;
  border-radius: 20px;
  margin-top: 60px;
}

#tableContent .edit a {
  color: #fff;
}

.request .requestB {
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #dee2e6;
  padding: 10px 0;
  margin-bottom: 10px;
}

.request .edit {
  margin-top: 20px !important;
  border-radius: 10px !important;
}

.request .pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.request .pay img {
  margin-left: 10px;
  padding: 30px 0;
  width: 33%;
}

.otherProduct h3 {
  margin: 40px 0;
  font-size: 20px !important;
  font-weight: bold;
}

.request h3 {
  font-size: 22px !important;
}

.request a {
  color: #767676;
}

.request h4 {
  font-size: 18px !important;
  line-height: 34px;
  margin: 0 !important;
}

.request li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #767676;
  font-size: 18px;
  margin: 20px 0;
}

.request .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.request .info li {
  margin: 5px 0;
  color: #767676;
}

.request .info .edit {
  width: 16%;
  height: 20%;
  border-radius: 20px !important;
  margin-top: 5px !important;
}

form.formId label {
  color: #767676;
  margin: 10px 0;
}

form.formId input {
  padding: 25px 10px;
}

form.formId .custom-control {
  padding-right: 0px !important;
  margin: 20px 0;
}

form.formId label.custom-control-label {
  margin: 20px 0;
}

form.formId .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #90aff0 !important;
}

#loginPage {
  position: relative;
  overflow: hidden;
}

#loginPage::before {
  position: absolute;
  content: '';
  background: #fff;
  width: 65%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
}

#loginPage::after {
  position: absolute;
  content: '';
  background: #90aff0;
  width: 35%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#loginPage form.formId .custom-control img, #loginPage form.formId .custom-control span {
  margin: 0 20px;
}

#loginPage .form-group input {
  width: 100%;
  background: 0 0;
  color: #4a4a4a;
  font-size: 16px;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

#loginPage .form-group label.md-label {
  color: #ababab;
  font-size: 16px;
  text-transform: none;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: -17px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#loginPage .form-group input:focus, #loginPage .form-group input:valid {
  border-bottom: 1px solid #000;
}

#loginPage .form-group input:focus ~ label.md-label, #loginPage .form-group input:valid ~ label.md-label {
  top: -25px;
  font-size: 12px;
  color: #90aff0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#loginPage .form-group {
  position: relative;
  width: 100%;
  margin-bottom: 45px;
}

#loginPage .form-group input:focus, #loginPage .form-group input:valid {
  border-bottom: 1px solid #767676;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(191, 147, 60, 0.62);
  box-shadow: 0 0 0 0.2rem rgba(245, 245, 245, 0);
}

#loginPage .righ_part {
  width: 30%;
  float: right;
  position: absolute;
  top: 50%;
  left: 70%;
  padding: 15px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#loginPage .righ_part label {
  width: 100%;
}

#loginPage .righ_part input {
  width: 100%;
}

#loginPage .left_part {
  width: 40%;
  float: left;
}

#loginPage .left_part img {
  width: 500px;
  position: absolute;
  bottom: 0;
}

#loginPage .logBy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#loginPage .logBy span {
  margin: 0 10px;
  line-height: 35px;
}

#loginPage .logBy .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#loginPage .logBy .social li:nth-child(1) a {
  color: #fff;
  background: #3b5998;
  width: 40px;
  height: 40px;
  font-size: 24px;
  margin: 0 0px  0 10px;
  text-align: center;
  display: block;
  line-height: 40px;
  border-radius: 50px;
}

#loginPage .logBy .social li:nth-child(2) a {
  color: #fff;
  background: #26a6d1;
  width: 40px;
  height: 40px;
  font-size: 24px;
  margin: 0 0px 0 10px;
  text-align: center;
  display: block;
  line-height: 40px;
  border-radius: 50px;
}

#loginPage .logBy .social li:nth-child(3) a {
  background: #dc4d40;
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 24px;
  margin: 0 0px 0 10px;
  text-align: center;
  display: block;
  line-height: 40px;
  border-radius: 50px;
}

#loginPage .logBy .edit {
  background: #90aff0;
  text-align: center;
  padding: 6px 10px;
  border-radius: 20px;
  width: 45%;
  display: block;
  height: 30%;
}

#loginPage .logBy .edit a {
  color: #fff !important;
}
/*# sourceMappingURL=style.css.map */