@media (max-width: 1200px){
    .navbar-dark .navbar-nav .nav-link
    {
        font-size: 15px;
    }
    .mobileScreen
    {
        display: none;
    }
 
}
@media (max-width: 1024px){
    .navbar-dark .navbar-nav .nav-link
    {
        font-size: 15px;
    }
    img.media-object {
        width: 100%;
    }
    .media {
        display: -ms-flexbox;
        display: block;
    }
    .agileits-button.two a
    {
        margin: 20px 0 ;
    }
      
    #cover img
    {
        left: -155px;
    }

}
@media (max-width: 991px){
    .nav-toggle {
     
        z-index: 2;
        color: #90aff0 !important;
        display: block !important;
        line-height: 40px;
        margin-right: 10px;
      
    }
    .nav-toggle.expanded
    {
        margin: 10px;
    }
    .nav-toggle .svg-inline--fa.fa-w-11
    {
        display: none !important;
    }
    .nav-toggle .svg-inline--fa.fa-w-11.active{
        display: block !important;
    }
    .nav-toggle .svg-inline--fa.fa-w-14.none
    {
     display: none !important;
    }
      .nav-toggle:hover {
        opacity: 0.8;
      }
 
       .mysidenav  {


        height: 100%;
        width: 100%;
        position:fixed;
        top: 0;
        z-index:1;
        right:-900px;
      background: #f8f8f8;
         overflow-x: hidden;
        transition: 1s;
        text-align:center;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        
    
    }
 .mysidenav.active  {
    
        right:0;
    
    
    }
.mobile{
    width: 100%;

    display: flex;
}
.col-sm-12.d-lg-none.d-md-block
{
    display: flex;
    justify-content: flex-end;
}
.col-sm-12.d-lg-none.d-md-block ul{
    display: flex !important;
    float: left;
}
header#up
{
    background: #f8f8f8;
}
.fixed.scrolled a.nav-link.scroll:after
{
    display: none;
}
.fixed a.nav-link.scroll{
    color: #90aff0 !important;
}
#cover::after
{
    width: 100%;
    top:auto;
}
#cover::before{
    width: 100%;

}
#cover .rightSide {
    padding: 0px 60px 22px 65px;
}
#cover h1 {
    font-size: 30px;
    color: #fff;
    z-index: 3;
    text-align: center;
}
#cover p {
    font-size: 12px;
}
.navbar .navbar-nav > .active > a:after, .navbar .navbar-nav > li > a:hover:after, .navbar .navbar-nav > a:hover:after, .navbar .navbar-nav > .active > a:focus:after
{
    width: 0;
}
#cover img 
{
    top:4px;
}
.offer{
    text-align: center;
}
.categories a ,   .categories li
{
    font-size: 12px;
}
#cover form button{
    width: 20%;
    }
footer ul , footer h4  {
 text-align: center;
    margin: 20px  auto;
    

}

footer .social 
{
    justify-content: center;
}
}
@media (max-width: 800px){
  
    .navbar-dark .navbar-nav .nav-link
    {
        font-size: 18px;
    }
    .w3_agile_team_grid h3{
        font-size: 20px;
    }
    .pad{
    padding: 0;
    }
       
    #cover img
    {
        left: -155px;
    }

}
@media (max-width: 768px){
    .hidden-xs {
        display: none!important;


    }
 
     
#cover img {
    position: absolute;
    top: -50px;
    left: 0;
    height: 250px;
    width: 100%;
    bottom: 0;
}


}

@media (max-width: 767px){
    .pad{
        padding:15px  0;
        }
        table{
            font-size: 12px;
        }
        #tableContent .proDetails
        {
            display: block;
            text-align: right;
        }
        #tableContent .details
        {
            margin: 0;
        }
        #tableContent h3
        {
            font-size: 10px;
        }
        #tableContent .shownumber
        {
            margin: 0 10px;
        }
        #tableContent .circleBorder
        {
            border:0px;
            line-height: 20px;
        }
        .table td, .table th
        {
            padding: 5px !important;
        }
        #loginPage
        {
            display: flex;
        }
        #loginPage .righ_part
        {
            width: 100%;
            position: relative;
        }
        #loginPage .left_part{
            width: 100%;
        }
}
@media (max-width: 480px){
   
    #cover h1 {
        font-size: 24px;
        text-align: center;
    }
    #cover p {
        font-size: 10px;
    }
    #tableContent .shownumber
    {
        margin: 0;
    }
 
}
@media (max-height: 450px) {


  }
@media (max-width: 380px){

    table {
        font-size: 12px;
    }  
  
}
@media (max-width: 320px){
    table {
        font-size: 8px;
    }
}

.navside {
    z-index: 999999;
}
